@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 768px) {
    .container {
      padding: 1rem;
      margin: 0;
    }
  
    .container-inner {
      flex-direction: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 5px;
    }
  
    .button {
      width: 80%;
      margin: 8px 0;
    }
  
    .card {
      width: 90%;
    }
  }
body{
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container{
    padding: 16px;
    margin: 5px 10px;
    text-align: justify;

}

p{
    font-size: 14px;
    color: #555;
}

.round-xlarge{
    border-radius: 16px;
}

.border{
    border: 1px solid #ccc !important;
}

.button{
    background-color: black;
    color: #ccc;
    border: 1px #ccc solid !important;
    font-size: 12px;
    padding: 10px 14px;
    margin: 5px;
    cursor: crosshair;
    text-align: center;
    display: inline-block;
    width: auto;
    box-sizing: border-box;
}

.button:hover{
    background-color: #ccc;
    color: #555
}
.container-inner{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

h1{
    text-align: center;
}

.location{
    text-align: center;
    margin-top:-15px;
}

.card{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: justify;
    align-items: center;
    justify-items: center;
    margin: 10px 10px;
    box-sizing: 10px;
}

.isDisabled{
    cursor: progress;
    background-color: #ccc; 
    color: black;
}

img, iframe, video {
    max-width: 100%;
    height: auto;
  }
  
  body {
    overflow-x: hidden;
  }
